html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Arial;
}

body {
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* العناوين */
.titles {
    text-align: center;
    margin-top: 40px;
    color: #1f3c88;
}

.country {
    font-size: 18px;
}

.dept {
    font-size: 22px;
    font-weight: bold;
}

.location {
    font-size: 18px;
    color: #333;
}

/* مربع البحث */
.container {
    max-width: 420px;
    margin: 120px auto;
    background: rgba(255,255,255,0.96);
    padding: 30px 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    text-align: center;
}

.container input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    font-size: 16px;
}

.container button {
    width: 100%;
    padding: 14px;
    background: #1f3c88;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    margin-top: 15px;
    text-align: right;
}
